.auth {}

.auth__login {
  width: 93.91px;
  background-color: rgb(35, 170, 35);
  color: white;
}
.auth__registred {
  margin-left: 10px;
  background-color: rgb(168, 207, 26);
  color: rgb(246, 244, 244);
}
